src/PTV.SoapServices/Lingsoft/LingsoftProd/llso.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="https://llso.lingsoft.fi/api/v2/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="LLSOrders" targetNamespace="https://llso.lingsoft.fi/api/v2/">
  <types>
    <xsd:schema targetNamespace="https://llso.lingsoft.fi/api/v2/">
      <xsd:element name="OrderStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="llsoWorkID" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Status">
        <xsd:all>
          <xsd:element name="orderID" type="xsd:string" nillable="true"/>
          <xsd:element name="state" type="xsd:string" nillable="true"/>
          <xsd:element name="contact" type="xsd:string" nillable="true"/>
          <xsd:element name="phoneNumber" type="xsd:string" nillable="true"/>
          <xsd:element name="validationResult" type="xsd:string" nillable="true"/>
          <xsd:element name="fileUrl" type="xsd:string" nillable="true"/>
          <xsd:element name="quote" type="xsd:string" nillable="true"/>
          <xsd:element name="deadline" type="xsd:string" nillable="true"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="OrderStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="OrderStatusResult" type="tns:Status"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="OrderStatuses">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="llsoWorkIDs" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfStatus">
        <xsd:sequence>
          <xsd:element name="item" type="tns:Status" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="StatusArray">
        <xsd:all>
          <xsd:element name="statuses" type="tns:ArrayOfStatus" nillable="true"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="OrderStatusesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="OrderStatusesResult" type="tns:StatusArray"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CancelOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="llsoWorkID" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CancelOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CancelOrderResult" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="QueryWorkId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="orderID" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="QueryWorkIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="QueryWorkIdResult" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="trgLang">
        <xsd:all>
          <xsd:element name="trgLang" type="xsd:string" nillable="true"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfTrgLang">
        <xsd:sequence>
          <xsd:element name="item" type="tns:trgLang" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Order">
        <xsd:all>
          <xsd:element name="orderID" type="xsd:string" nillable="true"/>
          <xsd:element name="endCustomer" type="xsd:string" nillable="true"/>
          <xsd:element name="ordererAccount" type="xsd:string" nillable="true"/>
          <xsd:element name="email" type="xsd:string" nillable="true"/>
          <xsd:element name="pm" type="xsd:string" nillable="true"/>
          <xsd:element name="deadline" type="xsd:string" nillable="true"/>
          <xsd:element name="clientRef" type="xsd:string" nillable="true"/>
          <xsd:element name="clientInfo" type="xsd:string" nillable="true"/>
          <xsd:element name="vendorInstructions" type="xsd:string" nillable="true"/>
          <xsd:element name="workType" type="xsd:int" nillable="true"/>
          <xsd:element name="docType" type="xsd:int" nillable="true"/>
          <xsd:element name="orderType" type="xsd:string" nillable="true"/>
          <xsd:element name="filesUrl" type="xsd:string" nillable="true"/>
          <xsd:element name="downloadedUrl" type="xsd:string" nillable="true"/>
          <xsd:element name="analysis" type="xsd:string" nillable="true"/>
          <xsd:element name="projectReadyCallbackUrl" type="xsd:string" nillable="true"/>
          <xsd:element name="name" type="xsd:string" nillable="true"/>
          <xsd:element name="srcLang" type="xsd:string" nillable="true"/>
          <xsd:element name="trgLangList" type="tns:ArrayOfTrgLang" nillable="true"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="UpdateOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="llsoWorkID" type="xsd:string"/>
            <xsd:element name="order" type="tns:Order"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="UpdateOrderResult" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="order" type="tns:Order"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="NewOrderResult" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <portType name="LLSOrdersPort">
    <operation name="OrderStatus">
      <documentation>Lingsoft Language Services Oy</documentation>
      <input message="tns:OrderStatusIn"/>
      <output message="tns:OrderStatusOut"/>
    </operation>
    <operation name="OrderStatuses">
      <documentation>
        Method OrderStatuses for querying order statueses from Lingsoft Language Services Oy
      </documentation>
      <input message="tns:OrderStatusesIn"/>
      <output message="tns:OrderStatusesOut"/>
    </operation>
    <operation name="CancelOrder">
      <documentation>
        Method CancelOrder for cancelling order in Lingsoft Language Services Oy
      </documentation>
      <input message="tns:CancelOrderIn"/>
      <output message="tns:CancelOrderOut"/>
    </operation>
    <operation name="QueryWorkId">
      <documentation>based on clients own orderID</documentation>
      <input message="tns:QueryWorkIdIn"/>
      <output message="tns:QueryWorkIdOut"/>
    </operation>
    <operation name="UpdateOrder">
      <documentation>
        Method UpdateOrder for updating a order in Lingsoft Language Services Oy
      </documentation>
      <input message="tns:UpdateOrderIn"/>
      <output message="tns:UpdateOrderOut"/>
    </operation>
    <operation name="NewOrder">
      <documentation>
        Method NewOrder for creating a new order in Lingsoft Language Services Oy
      </documentation>
      <input message="tns:NewOrderIn"/>
      <output message="tns:NewOrderOut"/>
    </operation>
  </portType>
  <binding name="LLSOrdersBinding" type="tns:LLSOrdersPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="OrderStatus">
      <soap:operation soapAction="https://llso.lingsoft.fi/api/v2/#OrderStatus"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="OrderStatuses">
      <soap:operation soapAction="https://llso.lingsoft.fi/api/v2/#OrderStatuses"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CancelOrder">
      <soap:operation soapAction="https://llso.lingsoft.fi/api/v2/#CancelOrder"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="QueryWorkId">
      <soap:operation soapAction="https://llso.lingsoft.fi/api/v2/#QueryWorkId"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="UpdateOrder">
      <soap:operation soapAction="https://llso.lingsoft.fi/api/v2/#UpdateOrder"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="NewOrder">
      <soap:operation soapAction="https://llso.lingsoft.fi/api/v2/#NewOrder"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="LLSOrdersService">
    <port name="LLSOrdersPort" binding="tns:LLSOrdersBinding">
      <soap:address location="https://llso.lingsoft.fi/api/v2/"/>
    </port>
  </service>
  <message name="OrderStatusIn">
    <part name="parameters" element="tns:OrderStatus"/>
  </message>
  <message name="OrderStatusOut">
    <part name="parameters" element="tns:OrderStatusResponse"/>
  </message>
  <message name="OrderStatusesIn">
    <part name="parameters" element="tns:OrderStatuses"/>
  </message>
  <message name="OrderStatusesOut">
    <part name="parameters" element="tns:OrderStatusesResponse"/>
  </message>
  <message name="CancelOrderIn">
    <part name="parameters" element="tns:CancelOrder"/>
  </message>
  <message name="CancelOrderOut">
    <part name="parameters" element="tns:CancelOrderResponse"/>
  </message>
  <message name="QueryWorkIdIn">
    <part name="parameters" element="tns:QueryWorkId"/>
  </message>
  <message name="QueryWorkIdOut">
    <part name="parameters" element="tns:QueryWorkIdResponse"/>
  </message>
  <message name="UpdateOrderIn">
    <part name="parameters" element="tns:UpdateOrder"/>
  </message>
  <message name="UpdateOrderOut">
    <part name="parameters" element="tns:UpdateOrderResponse"/>
  </message>
  <message name="NewOrderIn">
    <part name="parameters" element="tns:NewOrder"/>
  </message>
  <message name="NewOrderOut">
    <part name="parameters" element="tns:NewOrderResponse"/>
  </message>
</definitions>